@font-face{
    font-family: "pricedown";
    src: url(pricedown.ttf) format("truetype");
}

body{
    background-color: gray;
}

.page{
    background-color: white;
    transition: all 500ms;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
}
.page p{
    font-family: Arial;
    font-size: 1.3em;
    line-height: 40px;
    margin: 30px 50px;
}
.header{
    font-family: pricedown;
    font-size: 4em;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
    color: white;
    text-align: center;
    float: left;
}
.header2{
    margin: 2px;
    font-family: 'Wide Latin';
    font-size: 4em;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    color: green;
    text-align: center;
}
.titleBox{
    margin: 20px auto;
    width: 600px;
    height: 100px;
}

.nextPage{
    background-color: white;
    transition: all 500ms;
    position: fixed;
    left: 10%;
    top: 10%;
    transform: translateY(100vh);
    width: 80%;
    height: 80vh;
}
.nextPage p{
    font-family: Arial;
    font-size: 1.3em;
    line-height: 40px;
    margin: 30px 50px;
}

.lastPage{
    background-color: white;
    transition: all 500ms;
    position: fixed;
    left: 10%;
    top: 10%;
    transform: translateY(-100vh);
    width: 80%;
    height: 80vh;
}
.lastPage p{
    font-family: Arial;
    font-size: 1.3em;
    line-height: 40px;
    margin: 30px 50px;
}

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}